.breadcrumb-item{
    font-size: larger;
    margin-left: 10px;
    margin-bottom: -50px;
    font-family: 'Inter', sans-serif;
    }
    .breadcrumb-item:first-child a {
    text-decoration: none; 
    color: #4EA933; 
    }
    .breadcrumb
    {
        margin-left: 50px;
        margin-top: 20px;
    }