.carousel-item img {
    object-fit: cover;
    border-radius: 60.46px;
    padding: 30px;
    margin-bottom: -20px;
}
.carousel-caption{
    position: absolute;
    flex: 1;
    margin-left: 500px;
}
.carousel-item:nth-child(1) .text-white{
    font-family: 'Poppins', sans-serif;
    font-size: 6vw; 
    margin-left: -1300px;
    font-weight: bolder;
}
.carousel-item:nth-child(1) .teext-white{
    font-family: 'Poppins', sans-serif;
    font-size: 3.4vw; 
    margin-left: -1300px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #ffffff;
}
.carousel-item:nth-child(1) .tt-white{
    font-family: 'Poppins', sans-serif;
    font-size: 1vw; 
    margin-left: -1300px;
    margin-bottom: 110px;
    color: #ffffff;
    font-weight: lighter;
}
.carousel-item:nth-child(1) .t-white{
    font-family: 'Poppins', sans-serif;
    font-size: 1vw; 
    margin-left: -1320px;
    font-weight: lighter;
}
.carousel-item:nth-child(1) .txt-white{
    font-family: 'Poppins', sans-serif;
    font-size: 3.4vw; 
    margin-left: -1300px;
    font-weight: bolder;
    color: #ffffff;
}
.carousel-item:nth-child(1) .text-wwhite{
    font-family: 'Poppins', sans-serif;
    margin-left: -300px;
    margin-bottom: -300px;
}
.carousel-item:nth-child(2) .text-white {
    font-family: 'Poppins', sans-serif;
    font-size: 6vw; 
    margin-left: -500px;
    margin-bottom: 230px;
    font-weight: bolder;
}
.text-whitee {
    position: relative;
    top: -220px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px; 
    margin-left: -319px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
}
.custom-button:hover{
    background-color: white;
    color: #4EA933;
}
.custom-button.clicked{
    background-color: white;
    color: #4EA933;
}
.custom-button{
    margin-top: -75px;
    margin-left: 285px;
    font-size: 1.2rem;
    padding: 8px 18px;
    font-weight: lighter;
}
.r{margin-top: -160px;}

.carousel-item:nth-child(3) .text-white {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw; 
    margin-left: -260px;
    margin-bottom: 60px;
    font-weight: lighter;
}
.carousel-item:nth-child(3) .textwhite {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw; 
    margin-left: -260px;
    margin-bottom: 200px;
    font-weight:bolder;
}
.carousel-item:nth-child(1) .btn{
    background-color: #C1DCDC;
    font-family: 'Poppins', sans-serif;
    border-color: #C1DCDC;
    border-radius: 2px;
    margin-left: 400px;
    margin-top: -66px;
}
.carousel-item:nth-child(1) .btn:hover
{
background-color: #9db4b4;
}
.carousel-item:nth-child(1) .inputt-group{
    margin-left: -750px;
    margin-top: -50px;
    font-family: 'Poppins', sans-serif;
}
.Tex{
    margin-top: -200px;
    top: 20px;
}
.carousel-indicators .active {
    background-color: #4EA933;   
}
@media screen and (min-width: 350px) and (max-width: 700px) {

    .carousel-item:nth-child(3) .text-white {
        font-family: 'Poppins', sans-serif;
        font-size: 2.8vw; 
        margin-left: -580px;
        margin-bottom: 0px;
        font-weight: lighter;
    }
    .carousel-item:nth-child(3) .textwhite {
        font-family: 'Poppins', sans-serif;
        font-size: 3.8vw; 
        margin-left: -590px;
        margin-bottom: 30px;
        font-weight:bolder;
    }

    .carousel-item:nth-child(2) .text-white {
        font-family: 'Poppins', sans-serif;
        font-size: 4vw; 
        margin-bottom: 1px;
        font-weight: bolder;
        margin-left: px;
    }
    .carousel-item:nth-child(2) .text-whitee {
        position: relative;
        top: 3px;
        font-family: 'Poppins', sans-serif;
        font-size: 10px; 
        margin-left: -460px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
    }
    .carousel-item:nth-child(2) .custom-button{
        margin-top: -30px;
        margin-left: 115px;
        font-size: 9px;
        padding: 2px 3px;
        font-weight: lighter;
    }
    .r{margin-top: -7px;
    }

}
@media screen and (min-width: 760px) and (max-width: 1027px)
{
    .carousel-item:nth-child(1) .text-white{
        font-family: 'Poppins', sans-serif;
        font-size: 4vw; 
        margin-left: -950px;
        font-weight: bolder;
    }
    .carousel-item:nth-child(1) .teext-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3.4vw; 
        margin-left: -1050px;
        margin-bottom: -px;
        font-weight: bolder;
        color: #ffffff;
    }
    .carousel-item:nth-child(1) .tt-white{
        font-family: 'Poppins', sans-serif;
        font-size: 2vw; 
        margin-left: -1020px;
        margin-bottom: 70px;
        color: #ffffff;
        font-weight: lighter;
    }
    .carousel-item:nth-child(1) .t-white{
        font-family: 'Poppins', sans-serif;
        font-size: 2vw; 
        margin-left: -800px;
        font-weight: lighter;
    }
    .carousel-item:nth-child(1) .txt-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3.4vw; 
        margin-left: -800px;
        font-weight: bolder;
        color: #ffffff;
    }
    .carousel-item:nth-child(1) .btn{
        background-color: #C1DCDC;
        font-family: 'Poppins', sans-serif;
        border-color: #C1DCDC;
        border-radius: 2px;
        margin-left: 260px;
        margin-top: -px;
    }
    .carousel-item:nth-child(1) .inputt-group{
        margin-left: -600px;
        margin-top: 0px;
        font-family: 'Poppins', sans-serif;
    }
    .carousel-item:nth-child(2) .text-white {
        font-family: 'Poppins', sans-serif;
        font-size: 4vw; 
        margin-bottom: 180px;
        font-weight: bolder;
        margin-left: px;
    }
    .carousel-item:nth-child(2) .text-whitee {
        position: relative;
        top: -160px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px; 
        margin-left: -440px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
    }
    .carousel-item:nth-child(2) .custom-button{
        margin-top: -40px;
        margin-left: 260px;
        font-size: 12px;
        padding: 2px 3px;
        font-weight: lighter;
    }
    .r{margin-top: px;
    }
    
    .carousel-item:nth-child(3) .text-white {
        font-family: 'Poppins', sans-serif;
        font-size: 2.8vw; 
        margin-left: -400px;
        margin-bottom: 50px;
        font-weight: lighter;
    }
    .carousel-item:nth-child(3) .textwhite {
        font-family: 'Poppins', sans-serif;
        font-size: 3.8vw; 
        margin-left: -400px;
        margin-bottom: 90px;
        font-weight:bolder;
    }
}
@media screen and (min-width: 390px) and (max-width: 840px){
    .carousel-item:nth-child(1) .text-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw; 
        margin-left: -950px;
        font-weight: bolder;
        margin-bottom: -10px;
    }
    .carousel-item:nth-child(1) .teext-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw; 
        margin-left: -990px;
        margin-bottom: 31.2px;
        font-weight: bolder;
        color: #ffffff;
    }
    .carousel-item:nth-child(1) .tt-white{
        font-family: 'Poppins', sans-serif;
        font-size: 2vw; 
        margin-left: -950px;
        color: #ffffff;
        font-weight: lighter;
        margin-bottom: -200px;
    }
    .carousel-item:nth-child(1) .t-white{
        font-family: 'Poppins', sans-serif;
        font-size: 2vw; 
        margin-left: -800px;
        font-weight: lighter;
       
    }
    .carousel-item:nth-child(1) .txt-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw; 
        margin-left: -800px;
        font-weight: bolder;
        color: #ffffff;
        margin-top: -2px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px)
{
    .carousel-item:nth-child(1) .text-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw; 
        margin-left: -800px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .carousel-item:nth-child(1) .teext-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw; 
        margin-left: -950px;
        margin-bottom: 12px;
        font-weight: bolder;
        color: #ffffff;
    }
    .carousel-item:nth-child(1) .tt-white{
        font-family: 'Poppins', sans-serif;
        font-size: 2vw; 
        margin-left: -950px;
        color: #ffffff;
        font-weight: lighter;
        margin-bottom: 100px;
    }
    .carousel-item:nth-child(1) .t-white{
        font-family: 'Poppins', sans-serif;
        font-size: 2vw; 
        margin-left: -700px;
        font-weight: lighter;
       
    }
    .carousel-item:nth-child(1) .txt-white{
        font-family: 'Poppins', sans-serif;
        font-size: 3vw; 
        margin-left: -700px;
        font-weight: bolder;
        color: #ffffff;
        margin-top: -2px;
    }
    .carousel-item:nth-child(1) .btn{
        background-color: #C1DCDC;
        font-family: 'Poppins', sans-serif;
        border-color: #C1DCDC;
        border-radius: 2px;
        margin-left: 220px;
        margin-top: -px;
    }
    .carousel-item:nth-child(1) .inputt-group{
        margin-left: -500px;
        margin-top: 0px;
        font-family: 'Poppins', sans-serif;
    }
    .carousel-item:nth-child(2) .text-white {
        font-family: 'Poppins', sans-serif;
        font-size: 4vw; 
        margin-bottom: 1px;
        font-weight: bolder;
        margin-left: px;
    }
    .carousel-item:nth-child(2) .text-whitee {
        position: relative;
        top: 3px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px; 
        margin-left: -440px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
    }
    .carousel-item:nth-child(2) .custom-button{
        margin-top: -30px;
        margin-left: 190px;
        font-size: 9px;
        padding: 2px 3px;
        font-weight: lighter;
    }
    .r{margin-top: 10px;
    }

}
