.container1 {
    display: flex;
  }
  
  .left-section {
    flex: 0.3;
    padding-left: 50px;
  }
  
  .right-section {
    flex: 1;
    padding-left: 60px;
    padding-top: 38px;
  
  }
  .HomeShopFoodWaer{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .Carddd{
    padding-bottom: 22px;
    padding-right: 50px;
  }
  .NavTwoo{
    padding-top: 35px;
   
  }
  .Filterr{
    padding-bottom: 35px;
  
    padding-right:50px;
  }